<div class="row">
  <div class='add-entry-row'>
    <%= link_to '⊕', new_entry_path, class: 'add-entry-icon', "data-toggle" => "modal", 'data-target' => "#entry_modal", remote: :true %>
  </div>

  <div class="modal fade" id="entry_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-form">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
           <br/>
          <div id="modal-entry-body">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="show_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content one-entry">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div id="modal-show-body">

          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="entries_index">
    <%= render partial: 'entry', collection: @entries %>
  </div>
</div>


