<div class="container">
  <div class="row about">
    <h2>What is Treeline?</h2>
      <p>Treeline is a new and improved way of visualizing history. It makes it easy for you to generate events from articles you read online.</p>
    <h2>Want to contribute?</h2>
      <p>Anyone can add or edit events on the timeline! It only takes three steps:</p>
      <ol>
        <li>Read an interesting article</li>
        <li>Go to Treeline and open the pop-up to add a new event</li>
        <li>Enter the article URL and click "Scrape"</li>
      </ol>
      <p>Treeline will extract the title, a summary, date, and relevant tags for you.
    
  </div>
  <br/><h4><%= link_to "Get started now!", new_user_registration_path, class: 'sign-up-about' %> </h4>
</div>
