<div class="container">
  <div class="row">
    <h2>Have questions or feedback?</h2>
    <p>We'd love to hear them! Just email <span id="secret" class="login-link"></span>.</p>
  
  </div>
</div>

<script>
var parts = ["tree", "tiff", "any", "chiao", "com", "mailto", ":", 64, "."];
document.getElementById("secret").innerHTML = "<a href='" + parts[5] + parts[6] + parts[0] + String.fromCharCode(parts[7]) + parts[1] + parts[2] + parts[3] + parts[8] + parts[4] + "'>" + parts[0] + String.fromCharCode(parts[7]) + parts[1] + parts[2] + parts[3] + parts[8] + parts[4] + "</a>";
</script>