/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html, body {
	font-family: 'Helvetica';
	font-weight:300;
  color:#72716e;
  margin:0;
  padding:0;
  height:100%;
}

body {
  background-color:#fcfcfc;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#header {
	margin-top:20px;
  padding:10px;
}

#content {
  padding-bottom:50px;
  width:100%;
  height:100%;
}

.row {
  padding:0 10px;
  margin:0;
}

#footer {
  width:80%;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  border-top:1px solid #e8e6de;
  margin: 0 auto;
}

h2, h3, h4 {
	color:#6c8022;
	font-weight:700;
}

a {
	color:#6c8022;
	text-decoration:none;
}

a:hover {
	color:#6c8022;
	text-decoration:underline;
}

.entry_header {
	margin-bottom: 20px;
}

.all_entries, .one-entry {
	background-color:#bad08b;
	color:#fffefb;
  border:none;
	border-bottom:5px solid #9eb767;
}

.absolute_entries {
  position:absolute;
}

.left-entry {
	margin:0 550px 20px 50px;
	border-radius:0 50px 50px 50px;
	padding:15px 20px 15px 20px;
}

.right-entry {
	margin:0 44px 20px 556px;
	border-radius:50px 0 50px 50px;
	padding:15px 20px 15px 15px;
	text-align:right;
}

.one-entry {
	margin:20px 0 20px 0;
	border-radius:0 50px 50px 50px;
	padding:10px 20px 25px 25px;
}

.categories {
	display:block;
	float: left;
	padding:20px 25px 25px 25px;
	color:#fffefb;
	margin:20px 0 20px 0;
	background-color:#e8e6de;
	border-radius:0 50px 50px 50px;
	border-bottom:5px solid #d4d3cd;
}

.sidebar_header {
	color:#6c8b29;
}

.sidebar {
	clear:both;
	background-color:#eceae2;
	border-bottom: 5px solid #d4d3cd;
	display:block;
	float: right;
	text-align: center;
	padding:12px 20px 20px 20px;
	color:#e3e4e4;
	margin-top:20px;
}

.sidebar a, .categories a {
	color:#9eb767;
}

.alert {
  margin:0 auto;
  left:0;
  right:0;
  width:42%;
  position:absolute;
  padding:10px;
  color:#fffefb;
  text-align:center;
  font-weight: 300;
  border-radius:3px;
}

.alert-notice {
  background-color:#b1cc66;
  border-bottom:5px solid #9cba4a;
}

.alert-error, .alert-alert {
	background-color:#e09767;
  border-bottom:5px solid #d37f47;
}

a:hover, a:focus {
	color:#6c8022;
}

.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color:#fcfcfc;
}

.grey-bg {
background:#f2f1ed;
}

.grey-bg > .nav > li > a:hover, .grey-bg > .nav > li > a:focus, .grey-bg > .nav .open > a, .grey-bg > .nav .open > a:hover, .grey-bg > .nav .open > a:focus {
  background-color:#f2f1ed;
}

.dropdown-menu {
	border:1px solid #ece9db;
}

.dropdown-menu > li > a {
	color:#6c8022;
}

.chat-bubble-arrow-border {
	border-color: transparent transparent #ece9db transparent;
	border-style:solid;
	border-width:9px;
	height:0;
	width:0;
	position:absolute;
	top:-19px;
	right:30px;
}

.chat-bubble-arrow {
	border-color:transparent transparent white transparent;
	border-style:solid;
	border-width:9px;
	height:0;
	width:0;
	position:absolute;
	top:-17px;
	right:30px;
}

.form-field {
  width:100%;
  font-size:15px;
  padding:6px 10px;
  color:#72716e;
  background:white;
  border:0;
  border-bottom:5px solid #d4d3cd;
  border-radius:3px;
}

.url-field {
  margin-top:7px;
  border-bottom:5px solid #b1cc66;
}

.form-body {
  min-height:125px;
  resize: none;
}

.button {
  padding:10px 15px;
  color:#fffefb;
  border:1px solid #b1cc66;
  background-color:#b1cc66;
  font-weight:700;
  outline:none;
}

.button:hover {
  border:1px solid #9cba4a;
  background-color: #9cba4a;
}

.cancel-button {
  border:1px solid #d4d3cd;
  background-color:#d4d3cd;
}

.cancel-button:hover {
  border:1px solid #72716e;
  background-color:#72716e;
}

.search-button {
  margin-left:-4px;
  border:1px solid #b86f3f;
  background-color:#b86f3f;
  font-size:13px;
  padding:9px 15px;
}

.search-button:hover {
  border:1px solid #b86f3f;
  background-color:#bd7240;
}

.link-button {
  padding:12px 17px;
}

.link-button:hover, .link-button a, .link-button a:hover {
  color:#fffefb;
  text-decoration:none;
}

.login-link {
  font-weight:700;
}

.login-box {
  display:inline-block;
  text-align:center;
}

.sign-up, .sign-up-about {
  background:#b1cc66;
  padding:10px 20px;
  margin-left:50px;
}

.sign-up-about {
  padding:20px;
  color:white;
}

.sign-in {
  margin-left:50px;
}

.sign-up a {
  color:white;
}

.form-box {
  background-color:#e8e6de;
  padding:25px 30px 25px 30px;
  width:30%;
  margin:0 auto;
  margin-top:20px;
  margin-bottom:10px;
  border-radius:5px;
}

.act-form-box {
  width:60%;
  background-color:#e8e6de;
  padding:25px 35px 25px 30px;
  margin-top:20px;
  margin-bottom:20px;
  border-radius:5px;
}

.datefield { 
  width:135px;
  font-size:15px;
  color:#72716e;
  background:white;
  padding:5px 0px;
  border:0;
  border-bottom:5px solid #d4d3cd;
  border-radius:3px;
  margin-top:-10px;
}

.datefield input { 
  text-align:center;
  border: none; 
}

.datefield input#month {
  width:35px;
  padding-left:6px;
}

.datefield input#day {
  width:25px;
}

.datefield input#year {
  width:43px;
}

.datefield input:focus {
  outline:none;
}

.modal-form {
  background-color:#e8e6de;
  padding:15px 30px 5px 30px;
  border-radius:5px;
}

.add-entry-icon {
  color:#8aa443;
  font-size: 60px;
  margin-left:100px;
}

.add-entry-icon:hover {
  text-decoration:none;
}

.icons {
  margin-top:-15px;
}

.left-entry  {
  margin-right:5px;
}

.right-entry {
  margin-right:5px;
}

.select2-container-multi .select2-choices {
  background-image: image-url('tag.png') !important;
  background-repeat:no-repeat !important;
  background-size: 17px !important;;
  background-position:10px !important;;
  padding-left:35px !important;;
}

.error-font {
  color:#cd6849;
  font-weight:400;
}

.blank-error, .title-error-field, .location-error-field, .body-error-field, .date-error-field, .month-errors, .day-errors, .year-errors, .url-errors {
  color:#cd6849;
  font-size:small;
}

.error-border, .month-error-border, .day-error-border, .year-error-border {
  border-bottom:5px solid #cd6849;
}

.category-trash {
  margin-left:1px;
}

.has-error {
  border-bottom:5px solid #cd6849;
}

.field_with_errors {
  display: inline;
}

.no-error {
  display:none;
}

.search-box {
  margin:20px 30px 0 0;
}

.search-field {
  width:250px;
  height:42px;
  font-size:14px;
  padding:7px 10px;
  color:#72716e;
  background:white;
  border:1px solid #eeede7;
}

.search-field:focus {
  outline:none;
}

.select2-no-results {
  display: none !important;
}

ul.select2-results {
  padding:0 !important;
  margin:0 !important;
}

li.select2-result {
  margin: 4px !important;
}

li.select2-result {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

li.select2-result:first-child {
  margin-top: 4px !important;
}

.date-search-link {
  margin-top:5px;
  font-size:small;
  margin-bottom:20px;
}

.keyword-search-link {
  margin-top:-5px;
  font-size:small;
  margin-bottom:20px;
}

.date-search-section {
  margin:30px 30px 0 0;
}

.date-search-box { 
  width:135px;
  font-size:14px;
  color:#72716e;
  background:white;
  padding:11px 0px 12px 0px;
  border:1px solid #eeede7;
}

.date-search-box input { 
  text-align:center;
  border: none; 
  background:white;
}

.date-search-box input#date1-month, input#date2-month {
  width:35px;
  padding-left:6px;
}

.date-search-box input#date1-day, input#date2-day {
  width:25px;
}

.date-search-box input#date1-year, input#date2-year {
  width:43px;
}

.date-search-box input:focus {
  outline:none;
}

.date-text {
  margin:0 1px 0px 5px
}

.home {
  background-image: image-url('bg-h.png');
  background-repeat:no-repeat;
  -webkit-background-size: 85%;
  -moz-background-size: 85%;
  -o-background-size: 85%;
  background-size: 85%;
  background-position: right 55px;
  height:900px;
}

.home-div {
  position:absolute;
  top: 25%;
  height:270px;
  width:390px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.search-bar {
  position:absolute;
  top: 0;
  height:270px;
  background-color:#d37f47;
  width:390px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  border-radius:1px;
  border-bottom:6px solid #b86f3f;
}

#home-search {
  width:390px;
  position:absolute;
  top: 65px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.search-home {
 height:38px;
 width:220px;
}

.timeline-headline {
  position:absolute;
  top:0px;
  height:600px;
  width:100%;
  background-color:#f2f1ed;
  z-index: -1;
}

.home-text {
  font-size:35px;
  color:#f2f1ed;
  padding:0 50px 25px 50px;
  line-height: 115%;
}

.scraper-loading {
  height:23px;
  margin-top:-8px;
}

.small-text {
  color:#f2f1ed;
}

.small-text > .link-small, .small-text > .link-small:hover, .small-text > .link-small a, .small-text > .link-small:hover a, .small-text > .link-small a:hover {
  font-weight:bold;
  color:#f2f1ed;
}

.footer-box {
  display:inline-block;
  padding:15px;
}

p {
  font-size:15px;
}

.about {
  width:80%;
}

h4 {
  text-align:center;
}

.timeline-tooltip, .tooltip {
  z-index:2000 !important;
}

.timeline-tooltip.top .timeline-tooltip-arrow, .tooltip.top .tooltip-arrow {
  border-top:5px solid #9cba4a !important;
}

.timeline-tooltip.left .timeline-tooltip-arrow, .tooltip.left .tooltip-arrow {
  border-left:5px solid #9cba4a !important;
}

.timeline-tooltip.bottom .timeline-tooltip-arrow, .tooltip.bottom .tooltip-arrow {
  border-bottom:5px solid #9cba4a !important;
}

.timeline-tooltip.right .timeline-tooltip-arrow, .tooltip.right .tooltip-arrow{
  border-right:5px solid #9cba4a !important;
}
.timeline-tooltip-inner, .tooltip-inner {
  background-color:#9cba4a !important;
  padding:10px !important;
}

.question-mark {
  font-size:15px;
  margin-left:5px;
  background:#72716e;
  color:white;
  width:19px;
  height:19px;
  border-radius:10px;
  display:inline-block;
  text-align:center;
  font-weight:bold;
}

.question-img {
  width:20px;
  height:20px;

}