<h2>Categories</h2>

<div class="categories">
	<ul>
		<% @categories.each do |category| %>
			<li>
				<%= link_to "#{category.name} (#{category.entries.size})", category_path(category) %> || 
				<%= link_to "delete", category_path(category), method: :delete, data: {confirm: "Are you sure?"} %>
			</li>
		<% end %>
	</ul>
</div>

<p><%= link_to 'All entries', entries_path %></p>
