<div class="container">

<div class="row">
  <h2>Categories</h2>

  <div class="categories">
		<% @categories.each do |category| %>
			<div>
				<%= link_to "#{category.name} (#{category.entries.size})", category_path(category) %> 

        <% if current_user %>
  				<small>
            <%= link_to "✖", category_path(category), method: :delete, data: {confirm: "Are you sure?"} %>
          </small>
        <% end %>
        
			</div>
		<% end %>
  </div>
</div>

<div class="row"><%= link_to 'All entries', entries_path, class: 'login-link' %></div>
</div><br/>